.regis-btn-main{
    background-color: rgb(35, 88, 78);
}

.mb-3{
    color: white;
    font-size: 20px;
}

.main-btn-register{
    margin-top: 30px;
    color: white;
}

.para-btn{
    color: white;
    margin-bottom: 50px;
}